
#aProposDescription {
    max-width: 700px;
    margin: auto;
    background-color: #fffffc;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;

    -webkit-box-shadow: 2px 7px 72px -58px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 72px -58px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 72px -58px rgba(0,0,0,0.75);
}


#aProposDescription p {
    font-size: 0.8em;
    text-align: center;
    background-color: white;
}

@media all and (max-width: 768px) {
    #aProposDescription {

        padding-left: 10px;
        padding-right: 10px;
    }
}
