/* Font sizes :
- Lato (nav bar) : 400(medium) + 700(blod)
-Work sans : 300(light) + 500(medium)
 */

html {
    font-size: calc(1em + 1vw)
}

body {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: #fffffc;
}



a {
    text-decoration: none;
    color: #218681;
}

a:hover {
    text-decoration: none;
    color: #19535f;
}

section {
    padding-top: 5px;
    width: 100%;
    padding-bottom: 5%;
}

.content-main {
    max-width: 1440px; /* if modification here, also change width in Menu.container */
    margin-left: auto;
    margin-right: auto;
}

.text-color-body-light {
    color: #fffffc;
}

.text-color-body-dark {
    color: #332e33;
}

.color-light {
    color: #fffffc;
}

.color-dark {
    color: #332e33;
}

.color-touch {
    color: #218681;
}

.color-touch-darker {
    color: #19535f;
}

.text-centered {
    text-align: center;
    align-content: center;
}

.text-right {
    text-align: right;
}

.title {
    font-family: 'Lato', sans-serif;
    font-variant: none;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 40px;
    text-transform: lowercase;
}

.subtitle {
    font-size: 0.5em;
    text-align: center;
    margin-bottom: 6%;
    font-style: normal;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.text-color-title {
    color: #218681;
}


.text-regular {
    color: #332e33;
    line-height: 1.6;
    font-size: 0.7em;
}

/* BRACKETS */
.brackets {
    min-width: 100px;
    max-width: 800px;
    min-height: 40px;
    background-color: #218681;
    padding: 4px; /* épaisseur des crochets */
    margin-top: 5%;
    margin-bottom: 5%;
}

.brackets-light {
    background-color: #218681;
}

.brackets-right {
    margin-right: 1%;
    margin-left: auto;
}

.brackets-left {
    margin-right: auto;
    margin-left: 1%;
}

.brackets-center {
    margin-right: auto;
    margin-left: auto;
}

.brackets-base {
    background-color: #fffffc;
    height: 100%;
    width: 100%;
}

.brackets-base-light {
    background-color: #19535f;
}

.brackets-top-bar {
    background-color: #fffffc;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: -8px;
    height: 8px;
}

.brackets-top-bar-light {
    background-color: #19535f;
}

.brackets-bottom-bar {
    background-color: #fffffc;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    bottom: -8px;
    height: 8px;
}

.brackets-bottom-bar-light {
    background-color: #19535f;
}

.brackets-text-area {
    background-color: #fffffc;
    margin-left: 15px;
    margin-right: 15px;
}

.brackets-text-area-light {
    background-color: #19535f;
}

.brackets-text {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
}

.brackets-text-light {
    color: #fffffc;
}


.mini-brackets {
    width: 300px;
    min-height: 40px;
    padding: 0;
    margin-bottom: 10%;
    font-family: 'Lato', sans-serif;
}

.mini-bracket-left, .mini-bracket-right {
    border-top: 4px solid #218681;
    border-bottom: 4px solid #218681;
    width: 10px;
    min-height: 40px;
    display: inline-block;
}

.mini-bracket-left {
    border-left: 4px solid #218681;
}

.mini-bracket-right {
    border-right: 4px solid #218681;
}

.mini-bracket-content {
    border-bottom: 4px solid transparent;
    width: 90%;
    min-height: 32px;
    text-align: center;
    display: inline-block;

}

.mini-bracket-content span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}

/* go back up button */
#goBackUpButton {
    display: inline-block;
    background-color: #fffffc;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #218681;
    border-radius: 4px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

    font-size: 26px;
    color: #218681;
}
#goBackUpButton:hover {
    cursor: pointer;
    background-color: #218681;
    color: #fffffc;
}
#goBackUpButton:active {
    background-color: #218681;
}
#goBackUpButton.show {
    opacity: 0.6;
    visibility: visible;
}

@media all and (max-width: 768px) {

    .brackets-right {
        margin-right: 5%;
        margin-left: 5%;
    }

    .brackets-left {
        margin-right: 5%;
        margin-left: 5%;
    }

    .brackets-center {
        margin-right: 5%;
        margin-left: 5%;
    }

}