#competences {
    background-color: #19535f;
}

.competences {
    width: 100%;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.competence {
    display: inline-block;
    background-color: #fffffc;
    padding: 10px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    margin: 2vw;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    align-content: center;
}

.competence img {
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}

.processus {
    width: 100%;
    max-height: 700px;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.process {
    display: inline-block;
    width: 140px;
    height: 170px;
    margin: 1vw;
    text-align: center;
    font-size: 0.7em;
    font-variant: all-small-caps;
    font-weight: bold;
    color: #fffffc;
}

.process img {
    transition: transform .5s;
}

.process img:hover {
    transform: scale(1.2);
}

.process p {
    text-align: center;
    margin-top: 20px;
}

.processus .process a {
    text-decoration: none;
    color: #fffffc;
}

.pill {
    background-color: #fffffc;
    color: #332e33;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 4px;
}

.collapsible-link {
    cursor: help;
}

.collapse-content {
    color: #fffffc;
    font-size: 0.7em;
    margin-top: 5%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}