#contact {
    background-color: #fffffc;
}

.flex-display {
    display: flex;
    padding: 0 0;

}

.contact-info {
    display: inline-block;
    width: 30%;
    margin: 5%;
    font-size: 0.5em;
    font-weight: bold;
    /*background-color: #ffcc00;*/

}

.brackets-container {
    max-width: 300px;
    margin: auto;
    /*background-color: #F5871F;*/
}

.contact-form {
    display: inline-block;
    width: 45%;
    font-size: 0.75em;
}

.contact-info p {
    text-align: center;
    border-left: 4px solid #218681;
    border-right: 4px solid #218681;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;

}

.form-container {
    max-width: 100%;
    margin: auto;
    padding: 6% 6%;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;

    -webkit-box-shadow: -3px 14px 35px -22px rgba(0,0,0,0.54);
    -moz-box-shadow: -3px 14px 35px -22px rgba(0,0,0,0.54);
    box-shadow: -3px 14px 35px -22px rgba(0,0,0,0.54);
}

form p {
    text-align: left;
    margin-bottom: 15px;
}

.objet, .message, .submit {
    width: 100%;
    font-size: 0.75em;
}

.nom, .prenom, .email, .tel {
    font-size: 0.75em;
}

.message {
    height: 180px;
    font-size: 0.75em;

}

form input, .objet, .message {
    margin: 0;
    border: 2px solid transparent;
    font-family: 'Lato', sans-serif;
    padding: 5px;
}

.form-objet {
    font-family: 'Lato', sans-serif;
    color: #464646;
    padding: 5px;
    font-size: 0.75em;

}

.radio-buttons {
    color: #464646;
    padding: 3px;
    font-size: 0.9em;
    margin-top: -20px;

}

.radio-buttons div div label {
    margin-left: 5px;
    margin-right: 30px;
}



.nom:focus, .prenom:focus, .email:focus, .tel:focus  {
    outline: none;
    border-bottom: 2px solid #218681;
    transition: 0.5s;
}

.message:focus  {
    outline: none;
    border-left: 2px solid #218681;
    transition: 0.5s;
}

.submit {
    border: none;
    padding-top:4px;
    padding-bottom: 4px;
    background-color: #218681;
    border-radius: 5px;
    color: #FFFFFC;
}

.submit:hover {
    background-color: #19535f;
}






@media all and (max-width: 1000px) {

    .flex-display {
        display: block;
    }


    .contact-info, .contact-form {
        display: block;
        width: 95%;
        margin: auto;
    }

}
