#footer {
    height: 40px;
    color: #868686;
    background-color: #363534;
    margin-bottom: 0;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
}

#footer p {
    margin-bottom: 0;
    padding-top: 8px;
}

#footer span:nth-child(1) {
    margin-right: 20px;
    margin-left: 20px;
}

#footer span:nth-child(3) {
    margin-right: 20px;
    float: right;
}