
nav {
    height: 65px;
}

.container {
    max-width: 1440px;
}

nav a .logo {
    height: 40px;
}


.nav-color-change {
    background-color: rgba(51, 46, 51, 1);
    transition: background-color 1000ms linear;
}


.nav-color-change.scrolled {
    background-color: rgba(255, 255, 252, 1) !important;
    transition: background-color 800ms linear;
    -webkit-box-shadow: 4px -16px 18px 5px rgba(168,168,168,1);
    -moz-box-shadow: 4px -16px 18px 5px rgba(168,168,168,1);
    box-shadow: 4px -16px 18px 5px rgba(168,168,168,1);
}

li {
    margin-top: -2px;
}

.nav-content-color-change {
    font-variant: all-small-caps;
    font-size: 0.6em;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #fffffc;
    border-bottom: 4px solid transparent;
}

.nav-content-color-change:hover {
    color: #218681;
    transition: 0.5s;
}

.nav-content-color-change.scrolled {
    font-variant: all-small-caps;
    font-size: 0.6em;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color:  #332e33;
}

.nav-content-color-change.scrolled:hover {
    color: #218681;
    transition: 0.5s;
}

.navbar-collapse {
    background-color: inherit;
}

.active {
    border-bottom: 4px solid #218681;
    transition: 1s;
}

/* Hamburger menu */
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar-color-change {
    background-color: rgba(251, 251, 251, 1);
}

.bar-color-change.scrolled {
    background-color: rgba(51, 46, 51, 1);
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

@media all and (max-width: 768px) {



}


