
#pyramide-prestations {
    margin-bottom: 8%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.column {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    min-width: 300px;
    max-width: 100%;
    vertical-align:middle;
}

.middle-column {
    display: inline-block;
    width: 200px;
    height: 180px;
    font-size: 0.5em;
    margin: 0;
    vertical-align:middle;
}

.middle-column span {
}

.right-column {
    text-align: left;
    margin-left: 3%;
}

.left-column {
    text-align: right;
    margin-right: 3%;
}

.prestation-block {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 530px;
}



#block-blog:hover .prestation-icon-left,
#block-marchand:hover .prestation-icon-left,
#block-vitrine:hover .prestation-icon-right,
#block-application:hover .prestation-icon-right,
#block-maintenance:hover .prestation-icon-left,
#block-fonctionnalites:hover .prestation-icon-right
{
    background-color: #218681;
    transition: 0.5s;
}

.prestation-name {
    display: inline-block;
    padding: 10px;
    font-variant: all-small-caps;
    font-size: 0.7em;
}

.name-left {
    margin-right: -10px;
}

.name-right {
    margin-left: -10px;
}


.popover-body {
    font-size: 0.5em;
}

.prestation-line {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.first-line, .second-line, .third-line {
    width: 90px;
}

.second-line {
}

.third-line {
}

.draw-line {
    height: 9px;
    position: relative;
    top: 0;
    border-color: #218681;
    border-top-width: 2px;
    border-top-style: solid;
    margin: 0;
    padding: 0;
    width: 100%;
}

.prestation-icon-left, .prestation-icon-right {
    display: inline-block;
    border-color: #218681;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding-top: 4px;
}

.prestation-icon-left {
    margin-left: -8px;
    padding-right: 12px;
}

.prestation-icon-right {
    margin-right: -8px;
    padding-left: 12px;
}

.prestation-icon-left img, .prestation-icon-right img {
    width: 32px;
    transition: 0.5s;
}

.crochet-fermant, .crochet-ouvrant {
    border-top: 2px solid #218681;
    border-bottom: 2px solid #218681;
    width: 12px;
    height: 100%;
    display: inline-block;
}

.crochet-fermant {
    border-right: 2px solid #218681;
    margin-right: -8px;
}

.crochet-ouvrant {
    border-left: 2px solid #218681;
    margin-left: -8px;
}


@media all and (max-width: 1000px) {
    .middle-column {
        height: 80px;
        width: 280px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .left-column {
    }

    .first-line, .second-line, .third-line {
        width: 70px;
    }

    .prestation-icon-left, .prestation-icon-right {
        padding-top: 10px;
    }
}



