
#pyramide-prestations {
    margin-bottom: 8%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
}


.column {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 100%;
    vertical-align:middle;
}

.middle-column {
    display: inline-block;
    width: 200px;
    height: 180px;
    font-size: 0.5em;
    margin: 0;
    vertical-align:middle;
}

.middle-column span {
}

.right-column {
    text-align: left;
    margin-left: 3%;
}

.left-column {
    text-align: right;
    margin-right: 3%;
}

.prestation-block {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    max-width: 530px;
}

#block-blog:hover img,
#block-marchand:hover img,
#block-vitrine:hover img,
#block-application:hover img,
#block-maintenance:hover img,
#block-fonctionnalites:hover img
{
    background-color: #6096AF;
    transition: 0.5s;
}

.prestation-name {
    display: inline-block;
    padding: 10px;
    font-variant: all-small-caps;
    font-size: 0.7em;
}

.name-left {
    margin-right: -10px;
}

.name-right {
    margin-left: -10px;
}


.popover-body {
    font-size: 0.5em;
}

.prestation-line {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.first-line, .second-line, .third-line {
    width: 100px;
}

.second-line {
}

.third-line {
}

.draw-line {
    height: 9px;
    position: relative;
    top: 0;
    border-color: #6096AF;
    border-top-width: 4px;
    border-top-style: solid;
    margin: 0;
    padding: 0;
    width: 100%;
}

.prestation-icon-left {
    display: inline-block;
    margin-left: -10px;
    padding: 0;

}

.prestation-icon-right {
    display: inline-block;
    margin-right: -10px;
    padding: 0;
}

.prestation-icon-left img, .prestation-icon-right img {
    border-color: #6096AF;
    border-width: 3px;
    border-style: solid;
    padding: 2px;
    border-radius: 50px;
    width: 60px;
    background-color: white;
    transition: 0.5s;
}

.crochet-fermant, .crochet-ouvrant {
    border-top: 4px solid #6096AF;
    border-bottom: 4px solid #6096AF;
    width: 15px;
    height: 100%;
    display: inline-block;
}

.crochet-fermant {
    border-right: 4px solid #6096AF;
    margin-right: -10px;
}

.crochet-ouvrant {
    border-left: 4px solid #6096AF;
    margin-left: -10px;
}


@media all and (max-width: 768px) {
    .middle-column {
        height: 80px;
        width: 280px;
    }
}



